<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open Sky stats</title>
</head>
<style>
    .error {
        color: #c83838;
    }
</style>
<body>
<h1>Arrivals by airport ʕ •ᴥ•ʔ</h1>
<form action="#" method="post" th:action="@{/open-sky-stats/arrivals-form}" th:object="${arrival}">
    <h3>Choose time interval</h3>
    <p> Must not be larger than seven days!</p>

    <div>
        <label for="flight-start-date">From: </label>
        <input id="flight-start-date" th:field="${arrival.startDate}" type="date"/>
        <label>
            <input th:field="${arrival.startTime}" type="time"/>
        </label>
    </div>

    <div>
        <br><label for="flight-end-date">To:</label>
        <input id="flight-end-date" th:field="${arrival.endDate}" type="date"/>
        <label>
            <input th:field="${arrival.endTime}" type="time"/>
        </label>
    </div>

    <br><label>Id: <input th:field="${arrival.airport}" type="text"/></label>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

    <div th:if="${#fields.hasAnyErrors()}">
        <p th:class="error" th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
    </div>
</form>
</body>
</html>