<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Sky stats</title>
</head>
<body>
<h1>Open Sky stats ʕ •ᴥ•ʔ</h1>
<!--th:action - direct POST to the form endpoint-->
<!--th:object - declares the model object (via key new_flight - created in Controller) to use for collecting the form data-->
<!--the form submits to the /form endpoint by using a POST call-->
<form action="#" th:action="@{/open-sky-stats}" th:object="${new_flight}" method="post">
    <div>
        <br><label for="flight-start-date">Choose start date and time:</label><br>
        <input type="date" th:field="${new_flight.startDate}" id="flight-start-date"/>
        <label>
            <input type="time" th:field="${new_flight.startTime}"/>
        </label>
    </div>
    <div>
        <br><label for="flight-end-date">Choose end date and time:</label><br>
        <input type="date" th:field="${new_flight.endDate}" id="flight-end-date"/>
        <label>
            <input type="time" th:field="${new_flight.endTime}"/>
        </label>
    </div>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>